:root{
   --container_logo_width: 33%;
   --radial_gradient_color_1:  rgb(50, 122, 209);
   --radial_gradient_color_2:  rgb(52, 139, 44);
   --text_color:  rgb(202, 202, 202);
   --photos_img_dimensions: 24.5vw;
   --header_nav_height: 5vw;
   --header_nav_link_adjustment_from_top_factor: 28%;
   --header_nav_logo_paragrah_width_factor: 2;
   --nasa_alpha_amount: 0.700;
}

a, p{
    font-family: monospace;
    color: var(--text_color);
}
h1 {
    font-family:  sans-serif;
    font-size: calc(var(--header_nav_height));
    align-self: center;
    vertical-align: top;
    margin:auto;
}
h2{
    font-size: 2.5vw;
    color: yellow;
    margin: 15px auto;
    text-align: center;
    vertical-align: middle;
}
.nasa_containers{
    display: flex;
}
.nasa_container{
    background: linear-gradient(90deg, rgba(255, 0, 0, var(--nasa_alpha_amount)), rgba(255, 255, 255, var(--nasa_alpha_amount)));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.nasa_container2{
    background: linear-gradient(90deg, rgba(255, 255, 255, var(--nasa_alpha_amount)), rgba(0, 0, 255, var(--nasa_alpha_amount)));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.section_photo_div {
    margin : auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25.7%);
    grid-gap: .5vw;
    width: 100%;
}
.section_photos img{
    margin: auto;
    height: calc(var(--photos_img_dimensions));
    width: calc(var(--photos_img_dimensions));
    border: 1px solid wheat;    
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.content p {
    width: 77%;
    text-align: justify;
    margin: auto;
}

html{
    background: radial-gradient(#000, #012);
}


body{
    height:  auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header_navigation{
    background: border-box radial-gradient(var(--radial_gradient_color_1), var(--radial_gradient_color_2));
    height: var(--header_nav_height);
    width: 90%;
    margin: auto;
    /* border: 1px dashed rgb(226, 226, 226); */
    position: sticky;
    top: 0px;
}
.nav_navigation{
    height: 100%;
    display: flex;
}
.nav_links {
    position: relative;
    background-color: black;
    right: 0px;
    top:0px;
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    height: 100%;
}
.nav_link{
    max-height: 100%;
    height: 100%;
    
    position: relative;
    top: var(--header_nav_link_adjustment_from_top_factor);
    align-self: center;
}
.nav_link a{
    vertical-align: top;
    text-decoration: none;
    font-size: calc(var(--header_nav_height)/3);
    color: yellow;
    height:100%;    
    max-height: 100%;
}
.container_logo {
    display: flex;
    width: 50%;
    height: 100%;
    align-items:  center;
    justify-content: space-around;
}

.container_logo p {
    word-wrap: break-word;
    width: calc(var(--header_nav_height)* var(--header_nav_logo_paragrah_width_factor));
    font-size: .7vw;
    margin: 5%;
    color: rgb(236, 236, 236);
    align-self: center;
    text-align: center;
}
.container_logo h2 {
    color: rgb(34, 35, 39);
    padding: 0 0 0 0px;
}
.container_logo img {
    opacity: .8;
    height: 100%;
}

/*Add .clearfix class to any container that has floats needing to be contained */
.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}





@media all and (min-width: 1000px) {
    html{
        background: url(./imgs/starry-sky-998641.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    h2{
        font-family:  sans-serif;
        color: white;
        font-size: 2.5vw;
    }

    #background{
        opacity: .1;
        margin: auto;
    }
    .content {
        justify-content: center;
        align-content: center;
        align-self: center;
    }
    .content section{
        justify-content: center;
        align-self: center;
        justify-items: center;
        text-align: center;
    }
    .content p {
        margin: auto;
        width: 50%;
        font-size: 18px;
    }
    .section_photo_div {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, 36.25%);
        width: 68%;
    }
    .nav_link{
        align-self:center;
    }
}
